* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #d7dcdf;
  /* background: #98aeb3; */
}

h1 {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.timer-and-tasks {
  /* background: #edc0bf; */
  /* background: linear-gradient(90deg, #edc0bf 0,#c4caef 58%); */
  font-family: Arial;
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  min-height: 400px;
  align-items: center;
  gap: 20px;
  color: #1e1e1e;
  flex-wrap: wrap;
  /*flex-grow: 1;*/
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-style: solid;
  padding: 30px 75px;
  border-width: 4px;
  border-color: #e7e7e7;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;

  /* background: rgba(255, 255, 255, .7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
  /* background-color: #e5e8eb; */
  background: rgba(233, 234, 235, 0.844);
}

.modes-buttons {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-evenly;
  gap: 10px;

}

.pomodoro-button,
.short-break-button,
.long-break-button {
  /* background-color: rgba(79, 88, 92, 0.5); */
  /* color: white; */
  background-color: transparent;
  color: black;
  padding: 4px 10px;
}

.pomodoro-button:hover,
.pomodoro-button-selected {
  background-color: #709fb0;
  color: white;
}

.short-break-button:hover,
.short-break-button-selected {
  background-color: #cc8598;
  color: white;
}

.long-break-button:hover,
.long-break-button-selected {
  background-color: #ca698b;
  color: white;
}

.timer-display {
  min-height: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: 1px solid blue; */
  position: relative;
  width: 100%;
}

.timer {
  font-size: 80px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #709fb0;
  margin: 0px;
  /* border: 1px solid black; */
  /* line-height: 1; */
  text-align: center;
}

.timer-message {
  position: absolute;
  font-size: 24px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  /* border: 1px solid black; */
  margin: 0px;
  bottom: 30px;
  opacity: 0.8;
}

.timer-message.pomodoro {
  font-size: 24px;
  color: #709fb0;
}

.timer-message.shortBreak {
  font-size: 24px;
  color: #cc8598;
}

.timer-message.longBreak {
  font-size: 24px;
  color: #a56868;
  color: #ca698b;
}

.message-hidden {
  visibility: hidden;
  /* display: none; */
}

/* .rest-message {
  font-size: 24px;
}

.work-message {
  font-size: 24px;
} */

.pomodoro-color {
  color: #d95550;
  color: #709fb0;
}

.short-break-color {
  color: #4c9195;
  color: #cc8598;
}

.long-break-color {
  color: #457ca3;
  color: #ca698b;
}

.buttons-container {
  text-align: center;
  /* border: 2px solid black; */
}

button {
  font-size: 14px;
  font-family: Arial;
  color: white;
  padding: 5px 16px;
  /* margin-left: 5px; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* width: 70px; */
  transition: all 0.2s ease;
}

.start-button {
  background-color: rgb(79, 148, 79);
  background-color: #31a531;
  font-size: 22px;
  padding: 6px 24px;
  margin-right: 5px;
  width: 110px;
  /* box-shadow: 0 -5px 4px #b7bcb8 inset; */
}

.start-button:active {
  transform: translateY(2px);
  /* box-shadow: 0 -2px 0 rgba(238, 210, 210, 0.793) inset; */
}

.start-button:hover {
  background-color: rgba(49, 165, 49, 0.95);
  box-shadow: -1px 2px 4px #275c27;
}

.stop-button {
  background-color: rgb(208, 66, 66);
  font-size: 22px;
  padding: 6px 24px;
}

.stop-button:hover {
  background-color: rgba(208, 66, 66, 0.95);
  box-shadow: -1px 2px 4px rgb(130, 63, 63);
}

.reset-button {
  /* background-color: rgb(98, 98, 239); */
  background-color: rgb(76, 76, 88);
  font-size: 22px;
  padding: 6px 24px;
  margin-left: 5px;
  width: 110px;
}

.reset-button:active {
  transform: translateY(2px);
}

.reset-button:hover {
  background-color: rgba(76, 76, 88, 0.95);
  box-shadow: -1px 2px 4px rgb(50, 50, 54);
}


/*
.rest-message {
  color: green;
  font-size: 25px;
}

.rest-message-visible {
  opacity: 1;
  color: green;
  font-size: 25px;
}

.set-timer-invisible {
  opacity: 0;
}
*/
