.container-tasks {
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  /*grid-template-columns: 2fr 1fr 1fr;*/
  /*min-height: 80px;*/

  /* background: rgba(255, 255, 255, .7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
}

.tasks-title,
.task-text,
.task-estimation {
  margin: 0;
}

.tasks-title-container {
  display: flex;
  align-items: center;
  padding-right: 0px;
  border-bottom: 1.5px solid black;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.tasks-title {
  font-size: 18px;
  flex: 1;
  font-weight: bolder;
  color: rgb(32, 32, 32)
}

.hamburguer-menu-button {
  background-color: rgba(243, 236, 236, 0.5);
  padding-top: 6px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  /* padding: 6px 8px; */
  display: inline;
  justify-content: center;
  align-items: center;
  color: black;
  margin-bottom: 0px;
}

.hamburguer-menu-button:hover {
  background-color: rgba(204, 203, 203, 0.5);
}

.hamburguer-menu {
  cursor: pointer;
  height: 24px;
  /* border: 1px solid black; */
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.individual-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgb(225, 223, 223);
  border-radius: 15px;
  padding: 15px 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.individual-task.task-selected,
.individual-task:hover {
  background-color: rgb(246, 244, 244);
  box-shadow: 1px 1px 4px rgb(145, 145, 146);
  /* border: 1px solid rgb(120, 129, 135); */
}

.individual-task.task-selected {
  background-color: rgb(240, 234, 234);
  border: 1px solid rgb(120, 129, 135);
  color: rgb(10, 10, 10);
}

.check-button {
  margin-right: 10px;
  margin-left: 6px;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px, solid, black;
  padding: 0px;
  color: green;
}


.task-text {
  flex: 1;
  font-size: 14px;
}

.task-estimation {
  font-size: 14px;
  margin-right: 4px;
  font-style: italic;
}


.edit-button,
.remove-button {
  /* padding: 5px 16px; */
  cursor: pointer;

  background-color: rgb(222, 226, 234);
  height: 36px;
  width: 36px;
  border-radius: 50%;
  padding: 0px;
  margin: 0;
}

.edit-button {
  margin-right: 5px;
}

.edit-icon,
.remove-icon {
  cursor: pointer;
  height: 18px;
  padding-top: 4px;
}

.edit-icon {
  margin-right: 0px;
}

.tomato-icon {
  height: 18px;
  margin-right: 15px;
  padding-top: 1px;
}

.add-task-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 1px dashed black;
  border-radius: 15px;
  margin-top: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease;
}

.add-task-container:hover {
  background-color: rgba(218, 217, 217, 0.3);
}

.add-icon {
  height: 24px;
}



  /* border: 1px solid rgb(225, 223, 223);
  border-radius: 15px;
  padding: 15px 5px;
  background-color: #ffffff; */

.pop-up-add-task {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid rgb(189, 184, 184);
  border-radius: 15px;
  gap: 20px;
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 12px 14px;
  background-color: white;
  box-shadow: 1px 1px 4px rgb(145, 145, 146);
}


.add-task-title {
  display: flex;
  align-items: center;
}

.new-task-input {
  flex: 1;
  height: 40px;
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 6px;
  border: none;
  border-bottom: 1px solid rgb(169, 166, 166);
  padding-left: 8px;
  font-size: 14px;
  color: rgb(48, 47, 47);
  font-weight: bold;
}

.new-task-input:focus {
  border: none;
  border-bottom: 1px solid rgb(94, 93, 93);
  outline: none;
}

.add-task-estimated-pomodoro {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding-left: 2px;
}

.new-task-pomodoros {
  font-weight: bold;
  color: rgb(48, 47, 47);
  color: rgb(71, 69, 69);
  font-size: 13.5px;
}

.num-estimated-pomodoros {
  width: 40px;
  height: 18px;
  background-color: rgba(230, 230, 230, 0.5);
  border: 1px ridge rgb(169, 166, 166);
  border-radius: 4px;
}

.num-estimated-pomodoros:focus {
  border: 1px solid rgb(94, 93, 93);
  outline: none;
}


.add-task-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.save-button {
  background-color: rgb(56, 56, 148);
  background-color: rgb(48, 48, 163);
  background-color: rgb(35, 35, 82);
  font-size: 12px;
  padding: 6px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.save-button:hover {
  background-color: rgba(47, 47, 177, 0.95);
  background-color: rgba(35, 35, 82, 0.95);
}

.cancel-button {
  /* background-color: #555555; */
  background-color: #dad7d7df;
  font-size: 12px;
  padding: 6px 15px;
  color: rgb(36, 36, 36);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cancel-button:hover {
  background-color: #c7c5c5f0;
  color: rgb(55, 54, 54);
}

.hidden {
  display: none;
}